:root {
  --primary-color-text: #757575;
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --text-decor-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;

  --background-footer: #2f303a;
  --background-hero: #c4c4c4;
  --background-sections: #f5f4fa;
  --background-color-overlay-project: rgba(33, 150, 243, 0.9);
  --background-color-label: rgba(47, 48, 58, 0.8);
  --background-color-modal: rgba(0, 0, 0, 0.2);

  --border-color: #ececec;
  --border-color-card: #eeeeee;
  --icon-color: #afb1b8;
  --icon-secondary-color: #000000;
  --icon-background-active: #188ce8;
  
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-color-text);
  background: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------------------Page Hero --------------------------- */
/* Header logo */
.header {
  max-width: 1600px;
  margin: 0 auto;

  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 145px;
  margin-right: 93px;
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;

  color: var(--accent-color);

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-two {
  color: var(--icon-secondary-color);
}

/* Header Navigation */

.site-nav .link.current {
  position: relative;

  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.site-nav a {
  display: flex;
  align-items: center;

  color: var(--secondary-color);

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-timing);
}

.item-site-nav:not(:last-child) {
  margin-right: 50px;
}

.site-nav.flex {
  display: flex;
}

.site-nav.flex-grey {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item-site-grey:not(:last-child) {
  margin-right: 30px;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

.site-nav .grey {
  color: var(--primary-color-text);

  transition: color var(--transition-timing);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Main */

/* Hero */

.section-hero {
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/Img.png);
}

.container-hero {
  padding: 200px 0;
}

.hero {
  width: 700px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;

  border-color: var(--accent-color);
  background: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  transition: background-color var(--transition-timing);
}

.button:hover,
.button:focus {
  background-color: var(--icon-background-active);
}

/* about Us*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-container {
  display: flex;
}

.background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--background-sections);
}

.icon {
  height: 70px;
  width: 70px;
}

.title-section {
  margin-bottom: 10px;

  color: var(--secondary-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-container-flex {
  width: calc((100% - 90px) / 4);
}

.section-container-flex:not(:last-child) {
  margin-right: 30px;
}
/* Work */

.section-work {
  padding-bottom: 94px;
}

.container-section-work {
  display: flex;
}

.title-section-work {
  width: 366px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: var(--secondary-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
img {
  display: block;
}

.label {
  position: relative;
}

.label-background {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);
  background-color: var(--background-color-label);

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.container-section-work .section-work-flex {
  width: calc((100% - 60px) / 3);
}

.section-work-flex:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.section-team {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--background-sections);
}

.container-section-team {
  display: flex;
}

.hero-section-team {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: var(--secondary-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-team-flex {
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team-flex:not(:last-child) {
  margin-right: 30px;
}
.card-team {
  padding: 30px 0;
}

.title-section-team {
  margin-bottom: 10px;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.item-section-team-flex {
  display: block;
  margin-bottom: 16px;

  color: var(--primary-color-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon-team.networks {
  padding: 0;
  display: flex;
  justify-content: center;
}

.icon-link:not(:last-child) {
  margin-right: 10px;
}

.icon-link-team {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  fill: var(--icon-color);

  transition: background-color var(--transition-timing),
    fill var(--transition-timing);
}

.item-icon-team {
  width: 20px;
  height: 20px;
}

.icon-link-team:hover,
.icon-link-team:focus {
  background-color: var(--accent-color);
  fill: var(--primary-color);
}

/* Clients */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-section-clients {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: var(--secondary-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.icon-clients-list {
  display: flex;
  justify-content: space-between;
}

.item-link-clients:not(:last-child) {
  margin-right: 30px;
}
.icon-link-clients {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  border: 1px solid var(--icon-color);

  transition: border-color var(--transition-timing);
}

.icon-link-clients > svg {
  transition: fill var(--transition-timing);
}

.icon-link-clients:hover > svg,
.icon-link-clients:focus > svg {
  fill: var(--accent-color);
}

.icon-link-clients:hover,
.icon-link-clients:focus {
  border-color: var(--accent-color);
}

.item-icon-clients {
  width: 106px;
  height: 60px;

  fill: var(--icon-color);
}

/* Footer */

.footer {
  padding: 60px 0;
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--background-footer);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address,
.logo-three {
  color: var(--primary-color);

  text-decoration: none;
}

.footer-flex {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.container-footer {
  display: block;
}
.contact {
  color: var(--text-decor-color);

  text-decoration: none;
}

.contacts .item-container-footer {
  display: block;
  width: 231px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.item-container-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contacts .link {
  transition: color var(--transition-timing);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.footer-networks {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.title-footer-networks {
  margin-bottom: 20px;

  color: var(--primary-color);

  line-height: 1.14;
  text-transform: uppercase;
}

.footer-icon {
  border-radius: 30px;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-flex {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.input-footer {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  outline: none;

  background-color: var(--background-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-footer::placeholder {
  color: var(--text-decor-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.email-sent {
  display: flex;
  justify-content: space-between;
}

.button-footer {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: border-color var(--transition-timing),
    background var(--transition-timing);
}

.button-footer:hover,
.button-footer:focus {
  background: var(--icon-background-active);
  border-color: var(--icon-background-active);
}

.icon-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* ------------Page Portfolio --------------- */

/* Buttons */
.section-projects {
  padding: 94px 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.button-nav {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  display: block;

  color: var(--secondary-color);
  background-color: var(--background-sections);
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color var(--transition-timing),
    color var(--transition-timing), box-shadow var(--transition-timing);
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item-buttons-container {
  align-items: flex-start;
  text-align: center;
}

.item-buttons-container:not(:first-child) {
  margin-left: 8px;
}

/* Projects */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.project {
  margin-bottom: 4px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-project {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.card-project:hover,
.card-project:focus {
  cursor: pointer;
}

.card-project:hover .subtitle,
.card-project:focus .subtitle {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-project:hover .overlay,
.card-project:focus .overlay {
  transform: translateY(0);
  transition: transform var(--transition-timing);
}

.image {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--background-color-overlay-project);

  transform: translateY(100%);
  transition: transform var(--transition-timing);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-color);
}

.item-project {
  color: var(--primary-color-text);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.projects .link-projects {
  text-decoration: none;
}

.subtitle {
  padding: 20px 24px;

  border: 1px solid var(--border-color-card);
}
/* Modal */

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: var(--background-color-modal);
  opacity: 1;
  transition: opacity var(--transition-timing),
    visibility var(--transition-timing);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform var();
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close {
  width: 18px;
  height: 18px;

  fill: var(--icon-secondary-color);

  transition: fill var(--transition-timing);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;

  color: var(--secondary-color);

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.inputs {
  color: var(--primary-color-text);

  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--secondary-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 4px;
}

.input-wrap > input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:hover > input {
  border-color: var(--accent-color);
  cursor: pointer;
}

.input-wrap:hover > svg {
  fill: var(--accent-color);
  cursor: pointer;
}

.input-wrap:focus-within > input {
  border-color: var(--accent-color);
}

.input-wrap:focus-within > svg {
  fill: var(--accent-color);
}

textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);

  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.element-form:not(:last-child) {
  margin-bottom: 10px;
}

.textarea {
  margin-top: 4px;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.element-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 423px;
  margin-bottom: 30px;
}

.checkbox {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-size: contain;

  border: 1px solid var(--secondary-color);
}

.link-form {
  color: var(--accent-color);
}

input:checked + .checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../image/icon-check.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.button-form {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  border: none;

  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
  background: var(--icon-background-active);
  border-color: var(--icon-background-active);
}
